html,
body,
svg {
	padding: 0;
	margin: 0;
	font-family: Liberation sans, sans-serif;
}

#board #message {
	width: fit-content;
	margin-top: 100px;
	background-color: rgb(227, 234, 236);
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 9999999;
}

#board #message:empty {
	display: none;
}

#canvas {
	transform-origin: 0 0;
}

#loadingMessage {
	font-size: 1.5em;
	background: #eee linear-gradient(#eeeeee, #cccccc);
	padding: 20px;
	width: 40%;
	line-height: 50px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	top: 40%;
	left: 30%;
	z-index: 1;
	box-shadow: 0 0 2px #333333;
	transition: 1s;
}

#loadingMessage.hidden {
	display: none;
	opacity: 0;
	z-index: -1;
}

#loadingMessage::after {
	content: "...";
}

/* Hide scrollbar for Chrome, Safari and Opera */
#menu::-webkit-scrollbar {
	display: none;
}

#menu {
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-size: 16px;
	border-radius: 0;
	position: fixed;
	margin-bottom: 30px;
	left: 0;
	top: 0;
	color: black;
	max-height: 100%;
	transition-duration: 1s;
	cursor: default;
	padding: 10px;
}

#menu.closed {
	border-radius: 3px;
	left: 10px;
	top: 10px;
	background-color: rgba(100, 200, 255, 0.7);
	width: 6vw;
	height: 2em;
	transition-duration: 1s;
}

#menu h2 {
	/*Menu title ("Menu")*/
	display: none;
	font-size: 4vh;
	text-align: center;
	letter-spacing: 0.5vw;
	text-shadow: 0px 0px 5px white;
	color: black;
	padding: 0;
	margin: 0;
}

#menu .tools {
	list-style-type: none;
	padding: 0;
}
#menu .main-tools {
	display: flex;
	position: fixed;
	bottom: 0;
	min-width: calc(100% - 100px);
	padding: 16px;
	margin: 0;
	justify-content: center;
}

#autoNavMore {
	overflow: visible !important;
}
#autoNavMoreList {
	position: absolute;
	right: -5px;
	bottom: 55px;
}
#more-tools-container {
	position: fixed;
	bottom: 78px;
	right: 10px;
	width: 95%;
	max-height: 75%;
	background-color: #fff;
	overflow-y: scroll;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	display: none;
}
#more-tools-colors .colorPresets {
	display: flex;
	justify-content: space-around;
	background-color: #f6f6f6;
}
#more-tools {
	padding: 15px;
}
#more-tools p {
	color: #f9a722;
	margin-bottom: 8px;
	margin-top: 8px;
	z-index: 99;
}
#more-tools img {
	filter: invert(23%) sepia(52%) saturate(30%) hue-rotate(180deg) brightness(75%) contrast(118%);
	border: 1px solid #efeff329;
	margin: 3px;
}

@media (max-width: 768px) {
	#more-tools .input-tool img {
		width: 24px;
		margin: 0px;
	}
	#more-tools .input-tool input {
		height: 32px;
		width: 80%;
	}
	#menu .main-tools {
		justify-content: flex-end;
		right: 0;
	}
	/* #more-tools-container {
		max-width: 380px;
		min-width: 300px;
	} */
}
@media (max-width: 414px) {
	#more-tools-container {
		width: 90%;
	}
}

#settings {
	margin-bottom: 20px;
}
#undo-redo {
	position: fixed;
	bottom: 0;
	display: flex;
}
#menu .tool {
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
	pointer-events: auto;
	white-space: nowrap;
	list-style-position: inside;
	border: 1px solid #eeeeee;
	text-decoration: none;
	cursor: pointer;
	background: #ffffff;
	margin-top: 10px;
	height: 40px;
	line-height: 40px;
	border-radius: 0px;
	max-width: 60px;
	transition-duration: 0.2s;
	overflow: hidden;
	width: max-content;
	box-shadow: inset 0 0 3px #8fa2bc;
}
#menu .tools-list {
	pointer-events: auto;
	white-space: nowrap;
	list-style: none;
	text-decoration: none;
	cursor: pointer !important;
	margin: 10px;
	height: 45px;

	width: 45px;
	line-height: 40px;
	border-radius: 0px;
	transition-duration: 0.2s;
	overflow: hidden;
	box-shadow: 0 10px 10px 0 #0000000d;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 45px;
	min-height: 45px;
}
li#undo:hover {
	cursor: pointer !important;
	background: turquoise;
}
#undo-redo .tool-list {
	cursor: pointer !important;
}
#undo-redo .tool-list .do-btn {
	cursor: pointer !important;
}
#menu .tool:hover {
	max-width: 100%;
}
#menu .main-tools .tool-list .tool-icon-dimension {
	height: 24px;
	width: 24px t;
}
#menu .main-tools .tool-icon-dimension {
	height: 24px ;
	width: 24px ;
}
#menu .main-tools .sub-tools .tool-icon-dimension {
	height: 40px ;
	width: 40px ;
	padding: 5px;
	border: 1px solid #efeff329;
}
#menu .main-tools .tool-name {
	display: none;
}
#menu .main-tools .tool-icon.secondaryIcon {
	display: none !important;
}
.do-btn {
	border: none;
	outline: none;
	background: transparent;
}
@media (hover: none), (pointer: coarse) {
	#menu .tool:hover {
		max-width: 100%;
	}

	#menu .tool:focus {
		max-width: 100%;
	}

	#menu {
		pointer-events: auto;
	}

	#menu:focus-within {
		pointer-events: none;
	}
}

#menu .oneTouch:active {
	border-radius: 3px;
	background-color: #eeeeff;
}

#menu .tool:active {
	box-shadow: inset 0 0 1px #ddeeff;
	background-color: #eeeeff;
}

#menu .tool.curTool {
	box-shadow: 0 0 5px #0074d9;
	background: linear-gradient(#96e1ff, #36a2ff);
	overflow: unset;
}

#menu .tool-icon {
	display: inline-block;
	text-align: center;
	width: 24px;
	height: 24px;
	margin: 2.5px;
	font-family: mono, monospace;
	overflow: hidden;
}

#menu img.tool-icon {
	pointer-events: none;
}

#menu .tool-icon > * {
	display: block;
	margin: auto;
}

#menu .tool-name {
	text-align: center;
	font-size: 23px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 2.5px;
	display: inline-block;
	vertical-align: text-bottom;
}

#menu .tool-menu {
	display: block;
	bottom: 60px;
	position: absolute;
}
#menu .tool.curTool .sub-tools {
	width: 430px;
	display: flex !important;
	flex-wrap: wrap;
	background: #ffffff;
	padding-left: 65px;
	padding-right: 65px;
}
#menu .sub-tools span {
	line-height: 0 !important;
}

#menu .tool-menu #wolfram-input {
	border: 1px solid rgb(238, 238, 238);
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 10px 0px;
	outline: none;
}

#menu .tool-menu input {
	padding: 10px;
	width: 300px;
}

#menu .tool-name.slider {
	display: inline-block;
	width: 150px;
	height: 30px;
	font-size: 0.9em;
	line-height: 15px;
	vertical-align: top;
	padding: 6px;
	margin: 0 10px;
}

#menu .tool.hasSecondary .tool-icon {
	margin-top: 0px;
	margin-left: 0px;
}

#menu .tool .tool-icon.secondaryIcon {
	display: none;
}

#menu .tool.hasSecondary .tool-icon.secondaryIcon {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 26px;
	width: 12px;
	height: 12px;
}

input {
	font-size: 16px;
}

#chooseColor {
	/* width: 100%;
	height:100%; */
	border: 0;
	border-radius: 0;
	color: black;
	display: block;
	margin: 0;
	padding: 0;
}

.colorPresets {
	vertical-align: top;
	display: inline-block;
}

.colorPresetButton {
	width: 30px;
	height: 30px;
	border: 3px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin-right: 6px;
	padding: 0;
	vertical-align: middle;
	box-shadow: 0 10px 10px 0 #0000000d;
	margin: 10px 0;
}

.rangeChooser {
	display: block;
	border: 0;
	width: 100%;
	margin: 0;
	background: transparent;
}

line {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}

path {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}

text {
	font-family: "Arial", "Helvetica", sans-serif;
	user-select: none;
	-moz-user-select: none;
}

circle.opcursor {
	pointer-events: none;
	transition: 0.1s;
}

#cursor-me {
	transition: 0s;
}

/* Internet Explorer specific CSS */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#chooseColor {
		color: transparent;
	}
	label.tool-name[for="chooseColor"] {
		line-height: 10px;
	}
}
#menu .tool.curTool {
	box-shadow: 0 0 5px #f9a722;
	background: #f9a722;
	overflow: unset;
}
#menu .tool.curTool:focus {
	outline: 0 !important;
}
#menu .tool.oneTouch:active {
	box-shadow: 0 0 5px #f9a722;
	border-radius: 50%;
	background: #f9a722;
}
#menu .tool.oneTouch:focus {
	box-shadow: 0 0 5px #f9a722;
	background: #f9a722;
}
#settings-color {
	position: fixed;
	right: 20px;
	top: 60px;
}
#settings-color .color-list {
	height: 100%;
	position: relative;
	border: none !important;
	box-shadow: none !important;
	background: none;
}
#settings-color .color-list:active,
#settings-color .color-list:focus,
#settings-color .color-list:hover {
	border: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}
#settings-color .color-list .tick-icon {
	position: absolute;
	top: 0px;
	left: 3px;
}
#settings-color .color-list .current-color {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
#settings-color .color-list .current-color,
#settings-color .color-list .color-name {
	display: block !important;
}
#settings-color .color-list .colorSelect,
#settings-color .color-list .colorSelect .colorSelectBtn {
	display: block !important;
}
li.curTool .tool-icon {
	filter: invert(0%) sepia(70%) saturate(0%) hue-rotate(180deg) brightness(110%) contrast(115%);
}
li.curTool .tool-menu .tool-icon.tool-icon-dimension {
	filter: invert(23%) sepia(52%) saturate(30%) hue-rotate(180deg) brightness(75%) contrast(118%);
}
li#toolID-Grid:focus img {
	filter: invert(0%) sepia(70%) saturate(0%) hue-rotate(180deg) brightness(110%) contrast(115%);
}
li#toolID-Download:focus img {
	filter: invert(0%) sepia(70%) saturate(0%) hue-rotate(180deg) brightness(110%) contrast(115%);
}
.search-icon {
	position: relative;
	top: 6px;
	left: -30px;
}
#settings-size {
	position: fixed;
	top: 100px;
}
#settings-size .slider-list {
	display: flex;
	height: 50px;
	box-shadow: none;
	border: 0;
}
#settings-size .slider-list .tool-name.slider {
	display: none;
}
#settings-size .slider-list:active .tool-name.slider,
#settings-size .slider-list:focus .tool-name.slider,
#settings-size .slider-list:hover .tool-name.slider {
	display: block;
}
.range-icons-span {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 45px;
	height: 45px;
	box-shadow: 0 10px 10px 0 #0000000d;
	border-radius: 50%;
}
#settings-size .slider-list:active .range-icons-span,
#settings-size .slider-list:focus .range-icons-span,
#settings-size .slider-list:hover .range-icons-span {
	background-color: #f9a722;
}
.range-icons-span {
	background-color: white;
}
#settings-size .slider-list:active .range-icons-span img,
#settings-size .slider-list:focus .range-icons-span img,
#settings-size .slider-list:hover .range-icons-span img {
	filter: invert(0%) sepia(70%) saturate(0%) hue-rotate(180deg) brightness(110%) contrast(115%);
}
#settings-size .slider-list:active .range-icons-span svg,
#settings-size .slider-list:focus .range-icons-span svg,
#settings-size .slider-list:hover .range-icons-span svg {
	filter: invert(0%) sepia(70%) saturate(0%) hue-rotate(180deg) brightness(110%) contrast(115%);
}
/* custom range slider */
input[type="range"] {
	height: 10px;
	width: 100%;
	-webkit-appearance: none;
	background-color: #cccccc;
}

input[type="range"]::-webkit-slider-runnable-track {
	height: 10px;
	-webkit-appearance: none;
	color: #686c80;
	overflow: hidden;
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	width: 10px;
	-webkit-appearance: none;
	height: 10px;
	background: #f9a722;
	box-shadow: -80px 0 0 80px #686c80;
	border-radius: 50%;
	position: relative;
	z-index: 9999999;
	left: 2px;
}
/** FF*/
input[type="range"]::-moz-range-progress {
	background-color: #686c80;
}
input[type="range"]::-moz-range-track {
	background-color: #cccccc;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
	background-color: #686c80;
}
input[type="range"]::-ms-fill-upper {
	background-color: #cccccc;
}
.sub-tool-container {
	display: flex;
	flex-direction: column;
	width: 33%;
	margin: auto 0;
	margin-top: 15px;
}
@media (max-width: 768px) {
	#menu .tools-list {
		max-width: 40px !important;
		min-height: 40px !important;
		margin: 5px;
	}
	#menu .tool.curTool .sub-tools {
		position: fixed;
		bottom: 80px;
		width: 370px;
		padding: 0 10px;
		right: 1rem;
	}
	#menu .tool-menu input {
		width: 230px;
	}
	#menu .main-tools .sub-tool-container .tool-icon-dimension {
		width: 75px ;
		height: 75px ;
	}
	.sub-tool-container{
		display: inline-flex;
		pointer-events: auto;
		cursor: pointer;
		word-wrap: break-word;
		text-align: center;
	}
	.sub-tool-container .sub-tool-name,
 .sub-tool-container .sub-tool-subtitle,
  .sub-tool-container .sub-tool-formula
	{
		text-align: center;
		font-size: 1/21em !important;
		white-space: initial;
		word-wrap: break-word;
		line-height: 15px;
	}
	.katex{
		font: normal 1em KaTeX_Main,Times New Roman,serif;
	}
	.sub-tool-container .tool-icon-dimension{
		height: 75px;
		width: 75px;
	}
}


#menu .main-tools .sub-tool-container span {
	margin: auto;
	margin-bottom: 10px;
}
#menu .main-tools .sub-tool-container .sub-tool-name,
#menu .main-tools .sub-tool-container .sub-tool-subtitle,
#menu .main-tools .sub-tool-container .sub-tool-formula
{
	text-align: center;
	font-size: 12px;
	white-space: initial;
	word-wrap: break-word;
	line-height: 15px;
}
#menu .main-tools .sub-tools {
	overflow-y: scroll;
	height: 80vh;
}
#menu .main-tools .sub-tools:empty {
	height: 0;
}
#menu .tool-menu .sub-tool-category {
	width: 100%;
}
#menu .main-tools .sub-tools .sub-tool-category {
	font-size: 16px;
	font-weight: 500;
	font-family: Montserrat;
	color: #f9a722;
	font-weight: 700;
	margin: 0;
	position: relative;
    top: 15px;
}
@media  (min-width:768px) {
	#menu .main-tools .sub-tool-container .tool-icon-dimension {
		width: 120px ;
		height: 120px ;
	}
}
